* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*--primary-color: #333;*/
    /*--secondary-color: white;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

header {
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    color: white;
}

h1 {
    padding-top: 20vh;
}

h2, h3 {
    padding: 1em 0;
}

header .contain {
    padding: 0.6em 0;
}

.contain {
    width: 70%;
    margin: auto;
}

.but {
    text-transform: capitalize;
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.but:hover {
    background: #eaeaea;
    color: #333;
}

.sec1 {
    background: #eaeaea;
    color: #333;
}

.sec1 .contain {
    columns: 2;
    padding-bottom: 2em;
}
.sec2 {
    background: #333;
    padding: 30px;
}
.sec2 .contain article div{
    color:#333;
    padding: 1.5em;
}
.sec2 .contain article img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.sec2 .contain article{
    display:inline-block;
    width:31%;
    background: #fff;
    margin: 0 10px 0 0;
}
.sec2 .contain article div p{
    padding:1em 0;
}
.sec3{
    color:#333;
    padding:30px;
}
.sec3 p{
    padding-bottom:1em;
}
.sec4{
   color:#fff;
}
.sec4 section{
    display:inline-block;
    width: 50%;
    padding:35px 35px 45px;
    vertical-align: bottom;
}
.sec4 .contact{
    background: #2690d4;
}
.sec4 .about{
    background: #333;
}
.sec4 a{
    text-decoration: none;
    color:#fff;
    margin:40px;
}
.sec4 section p{
    margin:20px 0;
}
footer{
    background: black;
    color:white;
    text-align: center;
    padding:30px;
}
footer div{
    display:inline-block;
    width: 49%;
}
#tm{
    color: #2690d4;
    text-decoration: none;
}